.header-component {
  padding: 50px 150px;
  width: 100vw;
  height: 150px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    cursor: pointer;
  }

  button {
    width: 125px;
    border: 2px solid white;
    background-color: transparent;
    text-transform: none;
  }

  p {
    font-size: 24px;
    color: rgba(231, 231, 231, 0.85);

    span {
      color: white;
      font-style: normal;
      font-style: italic;
      opacity: 1;
    }
  }
}
