.remember-container {
  padding: 0 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }
}
