.pricingPageContainer {
  & > h2 {
    color: #525252;
    font-size: 32px;
    font-weight: 700;
    margin: 25px;
    text-align: center;

    & > span {
      color: #28d2d0;
    }
  }

  .pricingItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
