* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

input {
  width: 350px;
  padding: 10px 25px;
  border-radius: 3px;
}

button {
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 3px;
  cursor: pointer;
}
