.askedQuestionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 35px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 15px;
    cursor: pointer;
    width: 96%;
    display: flex;
    justify-content: space-between;
  }

  li {
    font-size: 16px;
    font-weight: 400;
    margin: 25px 15px;
    color: #307df6;
  }

  .questionItem {
    padding: 20px 15px 15px 15px;
    border-radius: 25px;
    margin: 5px;
    width: 50vw;
    height: 100%;
    overflow: hidden;
    border: #307df6 2px solid;

    &:hover {
      background-color: #307cf612;
    }

    &.showAnswer {
      background-color: #307df6;
      color: white;

      & > div {
        max-height: 1000px;
        opacity: 1;
        transition: max-height 0.75s ease-out;

        li {
          color: white;
        }
      }

      &:hover {
        background-color: #307df6;
      }
    }
  }

  .answerContainer {
    max-height: 0;
    opacity: 0;

    transition: all 0.5s ease-out;
  }
}
