.register-form {
  button {
    width: 520px;
  }

  .form-columns {
    display: flex;

    input {
      width: 250px;
    }
  }

  .radio-container {
    margin: 10px;
    padding: 5px;
    border: 3px solid #1f6bc1b5;
    border-radius: 5px;
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    p {
      margin: 5px;
      text-align: left;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.75);
    }

    &:hover {
      border-color: #1f6bc1;
    }
  }
}
