.container {
  text-align: center;
}

.btnContainer {
  border-radius: 15px;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-top: 30px;
}

.btn {
  border-radius: 15px;
  width: 33.3%;
  padding: 13px 0;
  border: none;
}

.active {
  background: linear-gradient(271.19deg, #307df6 0%, #14bbbf 100%), #307ff5;
  color: #fff;
}
